/index.php
/assets/apple-touch-icon*.png
/assets/favicon.ico
/assets/img/login-hero-image.png
/assets/img/system-logo.png
/assets/img/system-pin.png
/assets/img/system-poweredby.png
/assets/img/default/partner-email-banner.jpg
/assets/img/default/partner-logo.png
/assets/html-email/*
/assets/html-email/!index.html
/application/config/email.php
/application/config/mm8_commons.php
/application/config/google_client_secrets.json
/application/config/mm8_amazon_connect.php
/application/config/mm8_system.php
/application/config/database.php
/downloads/*
/downloads/!index.html
/downloads/!.htaccess
/locks/*
/locks/!index.html
/locks/!.htaccess
/logs/*
/logs/!index.html
/logs/!.htaccess
/sessions/*
/sessions/!index.html
/uploads/*
/uploads/!.htaccess
/uploads/!index.html
/uploads/import/!index.html
/uploads/import/processed/!index.html
/uploads/tinymce/!index.html
/nbproject/
.DS_Store
.idea/*
.php_cs.cache
.php_cs
.php-cs-fixer.cache
/raspberry-pi/.env
/docs/*